modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend API"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Backend API"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=5000 BASE_PATH=/ pnpm --filter @workspace/food-delivery run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true
integrations = ["twilio:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8001
externalPort = 3003

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 18244
externalPort = 80

[[ports]]
localPort = 19167
externalPort = 3000

[[ports]]
localPort = 25896
externalPort = 3001

[[ports]]
localPort = 25897
externalPort = 4200

[nix]
channel = "stable-25_05"
packages = ["eas-cli", "unzipNLS"]

[userenv]

[userenv.shared]

[userenv.development]
INFOBIP_WA_SENDER = "+15072600620"
EXPO_PUBLIC_DOMAIN = "ma.jatek.app"

[userenv.production]
INFOBIP_WA_SENDER = "+15072600620"
EXPO_PUBLIC_DOMAIN = "ma.jatek.app"

[objectStorage]
defaultBucketID = "replit-objstore-da72a41c-10aa-4e77-9354-01883c790dff"
